.heading{
    text-align: center;
    margin-top: 30px;
}
input[type=submit],input[type=reset]{
    float: right;
    margin-left: 10px;
}
body{
    background-image: url(c1.jpg);  
    height: 380px;
    background-position: center;
    background-repeat: no-repeat;  
    background-size: cover;
}